header{
    background-image: url(../pic/index/header.png);
    height: 765px;
    margin-bottom: 100px;
}
nav{
width: 1280px;
display: flex;
justify-content: space-between;
margin: auto;
}
nav a{
    display: block;
    margin: 30px 0px;
    text-decoration: none;
    color: white;
    text-shadow: 0 0 20px #404040;
}
.logo{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
header p{
    width: 350px;
    word-break: keep-all;
    text-align: center;
    line-height: 30px;
    display: block;
    margin: 30px auto;
}

.booking{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.booking-img{
    width: 460px;
    display: flex;
    flex-wrap: wrap;
}
.booking-form{
    width: 400px;
    padding: 60px 0 0 30px;
}
.booking-form h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.booking-form-content{
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.booking-form-value, .booking-form-select{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}
.booking-form-value span{
    padding-bottom: 5px;
}
.booking-form-value input{
    height: 20px;
    outline: none;
    border: none;
    border-bottom: 1px #404040 solid;
    background-color: rgba(255, 255, 255, 0)
}
.booking-form-select{
    width: 100%;
}
.booking-form-content .sbs{
    width: 155px;
}
.booking button{
    width: 152px;
    height: 40px;
    background-color: rgba(0, 100, 0, 0.9);
    border-style: none;
    border-radius: 10px 0;
    box-shadow: 2px 2px 5px #404040;
    color: white;
    text-align: right;
    padding-right: 20px;
    display: block;
    margin-top: 30px;
    margin-left: 50%;
}
.booking-form-notice{
    width: 300px;
    font-size: 14px;
    text-align: right;
    word-break: keep-all;
    margin-top: 20px;
    margin-left: 15%;
    display: block;
}

.wish-notice{
    text-align: center;
    position: relative;
    top: 40px;
}
.wish-book{
    width: 1280px;
    height: 765px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    overflow: hidden;
}
.wish-book-list{
    position: absolute;
}
.wish-book-txt{
    text-align: center;
}
.wish-book-txt span{
    display: block;
    margin: 60px 0px 5px 0px;
}
.wish-book-txt p{
    display: block;
    margin: 20px 0px 30px 0px;
}