h2, h3, h4, span, a, p, button, label{
    font-family: 'Noto Serif TC', serif;
}
h2{
    font-size: 28px;
    color: #3F3327;
}

.header-content-intro,
.header-content-map,
.shoffice{
  margin-bottom: 50px;
}

header{
  width: 100%;
  position: relative;
}
#menu-control{
  position: fixed;
  top: 0;
  z-index: -99;
  opacity: 0;
}
.menu{
  width: 100%;
  position: fixed;
  z-index: 99;
}
nav{
  position: relative;
  height: 10vh;
}
h1{
  position: relative;
  z-index: 2;
  text-align: center;
  background-color: #F6F7BD;
  padding: 10px 0;
}
.menu-btn{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 50px;
  height: 50px;
  opacity: .3;
}
nav ul{
  position: relative;
  z-index: 1;
  top: -100vh ;
  padding: 20px 0;
  transition: top 1.5s;
  background-color: #80BCA3;
}
nav li{
  padding: 20px 0;
  text-align: center;
}
nav li+li::before{
  content: '';
  display: block;
  margin: auto;
  position: relative;
  top: -20px;
  width: 10px;
  height: 1px;
  background-color: #F6F7BD;
}
nav li a{
  text-decoration: none;
  color: #F6F7BD;
  font-size: 14px;
  font-weight: 200;
}
#menu-control:checked ~.menu nav ul{
  top: 0;
}

.header-content-intro{
  width: 100%;
  position: relative;
  padding-bottom: 50px;
  background-color: #F6F7BD;
}
.header-content-intro p{
  text-align: center;
  font-weight: 200;
  line-height: 20px;
  letter-spacing: 0.1em;
  width: 70%;
  margin: auto;
  padding-top: 90px;
  color: #3F3327;
}

.header-content-map h2{
  margin-left: 10%;
  margin-bottom: 30px;
}
.mapA,
.mapB,
.mapC{
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}
.mapA iframe,
.mapB iframe,
.mapC iframe{
  width: 100%;
  height: 30vh;
  margin-bottom: 20px;
}
section.mapA-info,
section.mapB-info,
section.mapC-info{ 
  padding: 0 5px;
}
section.mapA-info h3,
section.mapB-info h3,
section.mapC-info h3{
  font-size: 22px;
  margin-bottom: 20px;
  color: #BF4D28;
}
section.mapA-info h3::after,
section.mapB-info h3::after,
section.mapC-info h3::after{
  content: '';
  display: block;
  width: 80%;
  height: 1px;
  background-color: #BF4D28;
}
section.mapA-info ul li,
section.mapB-info ul li,
section.mapC-info ul li{
  margin-bottom: 10px;
  line-height: 20px;
  color: #404040;
}

.shoffice{
  margin-bottom: 0;
  padding: 50px 0 100px 0;
  background-color: rgba(246, 247, 189, 0.5);
}
.shoffice h2{
  margin-left: 10%;
  margin-bottom: 10px;
}
.shoffice ul{
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
}
.shoffice ul li{
  color: #404040;
}
.shoffice ul li+li{
  margin-top: 10px;
}
.shoffice-img{
  width: 80%;
  margin: auto;
  display: flex;
  overflow: hidden;
}
.shoffice-img img{
  width: 100%;
}

footer{
  background-color: #BF4D28;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  position: relative;
}
.footer-inf{
  width: 80%;
}
.footer-inf ul li+li{
  margin-top: 20px;
}
.footer-inf li span{
  color: #F6F7BD;
  font-size: 16px;
  line-height: 20px;
}
.footer-community{
  display: flex;
  position: absolute;
  padding: 0;
  top: -40px;
  right: 10%;
}
.footer-community a:first-of-type{
  padding-right: 20px;
}

@media screen and (min-width:1200px){
  h1{
    margin-right: 2vw;
    background-color: transparent;    
  }
  h2{
    text-align: center;
    padding-bottom: 20px;
  }

  .menu-btn{
    display: none;
  }
  nav ul{
    top: 60vh;
    padding: 0;
    background-color: transparent;
    width: 10vw;
  }
  nav li{
    padding: 10px 0;
    padding-left: 3vw;
    text-align: unset;
  }
  nav li a{
    position: relative;
    left: 0;
    color: #80BCA3;
  }
  nav li a:hover{
    left: 5px;
    color: #F5BC1A;
  }

  .header-content{
    display: flex;
  }
  .header-content-intro{
    width: 49vw;
    height: 100vh;
    padding-bottom: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
  }
  .header-content-intro p{
    width: 50%;
    padding-top: 0;
  }

  .header-content-map{
    width: 49vw;
    margin-top: 60px;
  }
  .mapA,
  .mapB,
  .mapC{
    margin-bottom: 100px;
  }

  .shoffice h2{
    margin-left: 0;
  }
  .shoffice ul li{
    text-align: center;
  }
  .shoffice-img{
    width: 50%;
    overflow: unset;
    justify-content: space-between;
  }
  .shoffice-img img{
    width: 15%;
  }

  footer{
    padding: 30px 0;
  }
  .footer-inf ul{
    display: flex;
    justify-content: center;
  }
  .footer-inf ul li+li{
    margin-top: 0;
    margin-left: 50px;
  }
}